*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic', sans-serif;
    user-select: none;
}

.principal {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../mu2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    color: #fff;
    -webkit-text-stroke: 1px black;
}
.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    zoom: 300%;
    height: 175px;
    width: 220px;
    margin: 20px;
}

li {
    display: inline-block;
    list-style: none;
}

.red {
    background-color: #a00c40;
    color: #fff;
    box-shadow: 0 0 40px 40px #a00c40 inset, 0 0 0 0 #a00c40;
}
.red:hover {
    background-color: #fff;
    color: #a00c40;
    box-shadow: 0 0 1px 0 #b12541 inset, 0 0 1px 1px #e33758;
}

.blue {
    background-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #0098db inset, 0 0 0 0 #3498db;
}
.blue:hover {
    background-color: #fff;
    color: #3498db;
    box-shadow: 0 0 1px 0 #3498db inset, 0 0 1px 1px #3498db;
}

.brown {
    color: #fff;
    background-color: #c5934c;
}
.brown:hover {
    color: #c5934c;
    background-color: #fff;
    box-shadow: 0 0 1px 0 #b48c55 inset, 0 0 1px 1px #b48c55;
}

ul {
    margin: 12px;
}

button {
    border: 1px solid black;
    border-radius: 15%;
    width: 1.5em;
    height: 1.5em;
    margin: 0px 1.5px;
    cursor: pointer;
}

button:active {
    transform: scale(0.99);
}

.refresh {
    margin: 0;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    text-align: center;
    width: 50px;
    height: 20px;
    border-radius: 5%;
    border: 1px solid #fff;
}
.refresh:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.flex-ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: 20px;
    color: white;
    width: 100%;
    height: 25px;
    background-color: black;
    text-align: center;
    align-self: flex-end;
}

@media only screen and (max-width:800px){
    .container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10%;
        zoom: 200%;
        height: 175px;
        width: 220px;
    }
}